#app {
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        font-family: Optima, sans-serif;
    }
}

body {
    margin: 0;
}